/* Navbar */


.navbar {
  background-color: #000000;
  position: fixed !important;
  height: 80px;
  width: 98%;
  z-index: 4;
  border: none;


}

.navbar-toggler {
  border-color: #ffffff !important;
}

.fa.fa-navicon {
  padding-top: 2px;
  color: white;
  font-size: 20px;
}

.navbar strong {
  color: #ffffff;
  margin-left: 15px;
  font-size: 30px;
  font-family: 'Muli', sans-serif;
}

.navband-container span {
  color: #473be7;
  font-size: 30px;
}

.navband-container {
  width: 50%;
}


.navbar-light .navbar-nav .nav-link {
  color: #ffffff !important;
  font-size: 15px !important;
  font-family: 'Muli', sans-serif !important;
}

.navbar-nav {
  flex-direction: row !important;
}



.navbar-nav .nav-link {
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  padding-right: 20px !important;


}

.navbar-nav a:hover {
  color: #473be7 !important;
}

/* Landing */


.landing-grid {
  background: #5614B0;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #DBD65C, #5614B0);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #DBD65C, #5614B0);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  text-align: center;
  margin-top: 40px;
  padding-bottom: 40px;

}

.avatar {
  height: 280px;
  border-radius: 5px 20px 5px;
  margin-top: 140px;
}

.banner-text {
  background-color: #000000;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 70px;
  color: #ffffff;
  font-weight: bold;
  padding-top: 30px;
  ;
}

@media screen and (max-width: 760px) {
  .banner-text h1 {
    font-size: 40px;
  }
}

.banner-text hr {
  border-top: 5px solid white;
  width: 20%;
  margin: auto;
}

.banner-text p {
  font-size: 20px;
  color: #ffffff;
  padding: 1em;
}

.social-links {
  width: 50%;
  margin: auto;
  padding-bottom: 20px;

}

.social-links a {
  color: #ffffff;
  font-size: 5em;
  padding: 8px;
}

/* Contact */

.contact-container {

  text-align: center;
  padding-bottom: 100px;
}

.contact-container hr {
  border-top: 5px solid black;
  width: 20%;
  margin: auto;

}


.contact-container h2 {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: 700;
  padding-top: 80px;

}

.contact-list {
  margin-top: 100px;
}

.contact-container h3 {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin: 0;
}

.contact-container p {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;

}

.contact-container i {
  font-size: 4em;
  color: #473be7;
}

.contact-item {
  display: inline-block;
}

/* Projects */

.projects-container {
  text-align: center;
}

.projects-container h1 {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: 700;
  padding-top: 100px;
}

.projects-container hr {
  border-top: 5px solid black;
  width: 20%;
  margin: auto;

}

/* Card */

.card-container {
  margin-top: 80px;
  position: relative;
  display: flex;
  justify-content: space-around;
  margin-bottom: 80px;
}

.card-container .card {
  position: relative;
  border-radius: 10px;
  border: none !important;
  margin-bottom: 20px;
  cursor: pointer;
}

.card-container .card h2 {

  color: #000000;
  line-height: 20px;
  font-size: 14px;
  text-transform: uppercase;
  font-weight: bold;
  font-family: 'Oswald', sans-serif;
  padding-top: 0;
  margin-top: 0;
}

.card-container .card span {
  font-size: 14px;
  color: #262626;

}


.card-container .card .face {
  width: 300px;
  height: 200px;
  transition: 0.5s;

}

.card-container .card .face.face1 {
  position: relative;

  background: #232526;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
  transform: translateY(100px);
}

.card-container .card:hover .face.face1 {
  background: #4b6cb7;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #182848, #4b6cb7);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #182848, #4b6cb7);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  transform: translateY(0px);
}

.card-container .card .face.face1 .content {
  opacity: 1;
  transition: 0.5s;

}

.card-container .card:hover .face.face1 .content {
  opacity: 1;
}

.card-container .card .face.face1 .content h4 {
  color: #ffffff;
  font-family: 'Galada', cursive;

}

.card-container .card .face.face2 {
  position: relative;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  box-shadow: 0 20px 50px rgba(0, 0, 0, 0.8);
  transform: translateY(-100px);
}

.card-container .card:hover .face.face2 {
  transform: translateY(0);
}

.card-container .card .face.face2 .content p {
  margin: 0;
  padding: 0;
  text-align: center;
  color: #414141;
  font-style: italic;
  font-size: 12px;
  margin-top: 10px;
}

.link-container {
  margin-top: 20px;
}


.link {
  color: #000000 !important;
  font-size: 16px;
  font-weight: 700;
  display: flex;
  justify-content: space-around;
  text-decoration: none !important;
  text-transform: uppercase;
  margin-right: 60px;
  margin: auto;
  margin-bottom: 15px;
}

/*
* These styles creates the underlining of link
*/

.link {
  position: relative;
  z-index: 1;
  display: inline-flex;
  padding-left: 10px;
  padding-bottom: 5px;
  padding-right: 10px;
}

.link::before {
  content: "";
  width: 0;
  height: 100%;
  background-image: linear-gradient(to top, #fed330 25%, rgba(0, 0, 0, 0) 40%);
  position: absolute;
  left: 0;
  bottom: 2px;
  z-index: -1;
  will-change: width;
  transform: rotate(-2deg);
  transform-origin: left bottom
}

.link:hover::before {
  width: 100%;
}

/*
* animation styles
*/

.link::before {
  transition: width .1s ease-out;
  text-decoration: none;
}

.link:hover::before {
  transition-duration: .15s;
  text-decoration: none;
}




/* About Me  */

.aboutme-container {
  text-align: center;
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #4b6cb7, #302b63, #0f0c29);
  background: linear-gradient(to right, #4b6cb7, #302b63, #0f0c29);
}

.aboutme-container h1 {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: 700;
  padding-top: 100px;
  color: #ffffff;
}

.aboutme-container hr {
  border-top: 5px solid #ffffff;
  width: 20%;
  margin: auto;

}

.aboutme-container p {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 25px;
  padding-top: 40px;
  color: #ffffff;
  margin: auto;
  padding-bottom: 40px;
  text-align: center;
  width: 80%;

}

.location-container {
  text-align: center;
  background: #010920;
  background: -webkit-linear-gradient(to right, #010920, #302b63, #000000);
  background: linear-gradient(to right, #010920, #302b63, #000000);
  padding-bottom: 80px;
}

.location-container h1 {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: 700;
  padding-top: 100px;
  color: #ffffff;
}

.location-container hr {
  border-top: 5px solid #ffffff;
  width: 20%;
  margin: auto;

}

.location-container h3 {
  color: #ffffff;
  font-size: 14px;

}

.iframe {
  border-radius: 20px;

}

/* Footer */


.footer {
  text-align: center;
  background-color: #000;
  height: 100px;
}

.footer h4 {
  font-family: Raleway, sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
  
}