.navbar {
  background-color: #000000;
  position: fixed !important;
  width: 100%;
  display: flex;
  height: 80px;
  top: 0;
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  text-transform: uppercase;
  font-weight: 700;
  border: none;
  z-index: 4;


}

.navbar strong {
  color: #ffffff;
  margin-left: 15px;
  font-size: 30px;
  font-family: 'Muli', sans-serif;
}

.navband-container span {
  color: #473be7;
  font-size: 30px;
}

.navband-container {
  width: 50%;
}


.navbar-light .navbar-nav .nav-link {
  color: #ffffff !important;
  font-size: 15px !important;
  font-family: 'Muli', sans-serif !important;
}

.navbar-nav {
  flex-direction: row !important;
  float: right;

}

.navbar-brand {
  margin-left: 170px;
}

.navbar-nav .nav-link {
  color: #ffffff;
  font-weight: bold;
  font-size: 16px;
  letter-spacing: 1px;
  padding-right: 20px !important;


}

.navbar-nav a:hover {
  color: #473be7 !important;
}


.landing-grid {
  background: #833ab4;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #fcb045, #fd1d1d, #833ab4);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  top: 50;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  margin-top: 40px;

}

.avatar {
  height: 280px;
  border-radius: 5px 20px 5px;
  margin-top: 80px;
}

.banner-text {
  background-color: #000000;
  opacity: .8;
  width: 75%;
  margin: auto;
  border-radius: 10px;
}

.banner-text h1 {
  font-size: 70px;
  color: #ffffff;
  font-weight: bold;
  padding-top: 30px;
  ;
}

.banner-text hr {
  border-top: 5px solid white;
  width: 20%;
  margin: auto;
}

.banner-text p {
  font-size: 20px;
  color: #ffffff;
  padding: 1em;
}

.social-links {
  width: 50%;
  margin: auto;
  padding-bottom: 20px;

}

.social-links a {
  color: #ffffff;
  font-size: 5em;
  padding: 8px;
}

.contact-container {

  text-align: center;
  padding-bottom: 60px;
}


.contact-container h2 {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: 700;
  padding-top: 100px;
  padding-bottom: 60px;
}

.contact-container h3 {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-size: 18px;
  margin: 0 auto 0;

}

.contact-container p {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 20px;

}



.contact-container i {
  font-size: 4em;
  color: #473be7;
  margin: auto;

}

.projects-container {
  text-align: center;
}

.projects-container h1 {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: 700;
  padding-top: 100px;
}

.projects-container hr {
  border-top: 5px solid black;
  width: 20%;
  margin: auto;

}

.aboutme-container {
  text-align: center;
  background: #0f0c29;
  background: -webkit-linear-gradient(to right, #24243e, #302b63, #0f0c29);
  background: linear-gradient(to right, #24243e, #302b63, #0f0c29);
}

.aboutme-container h1 {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: 700;
  padding-top: 100px;
  color: #ffffff;
}

.aboutme-container hr {
  border-top: 5px solid #ffffff;
  width: 20%;
  margin: auto;

}

.aboutme-container p {
  font-family: 'Lato', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 25px;
  padding-top: 40px;
  color: #ffffff;
  margin: auto;
  padding-bottom: 40px;
  text-align: center;
}

.location-container {
  text-align: center;
  background: #010920;
  padding-bottom: 80px;
}

.location-container h1 {
  font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 3em;
  font-weight: 700;
  padding-top: 100px;
  color: #ffffff;
}

.location-container hr {
  border-top: 5px solid #ffffff;
  width: 20%;
  margin: auto;

}

.location-container h3 {
  color: #ffffff;
  font-size: 14px;

}

.iframe {
  border-radius: 20px;

}

/* Footer */


.footer {
  text-align: center;
  background-color: #000;
  height: 100px;
}

.footer h4 {
  font-family: Raleway, sans-serif;
  font-size: 12px;
  font-weight: 700;
  color: #ffffff;
  padding-top: 40px;
}